/* overall widget styling */

/* modal header */
.data-modal .modal-header-content {
  display: flex;
}

/* -- modal content */
.data-modal .modal-content {
  height: calc(100vh - 50px);
}

.data-modal .modal-content .table-container {
  overflow: hidden;
  height: calc(100vh - 350px);
  padding-right: 5px;
}

/* select input */
.data-modal .select-container .dropdown {
  width: 400px !important;
}

.data-modal .select-container .bs-caret {
  margin-left: 95% !important;
}

/* tables */
.data-modal .spacer {
  width: 5px;
  font-size: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.data-modal .dataTables_scrollBody {
  height: clamp(380px, calc(100vh - 380px), 10000px) !important;
}

/* tabs */
#dataModal_tabset + div {
  padding-top: 5px;
  padding-left: 5px;
  padding-bottom: 10px;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

#data_modal_project_tabset_panels,
#data_modal_results_tabset_panels {
  padding-bottom: 5px;
}
